.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/BG.png");
    min-height: 100%;
    max-height: auto;
    width: 100%;
    overflow-x: hidden;
}